data/daily/
dbt_job_warehouse/target/
dbt_job_warehouse/logs/
dbt_job_warehouse/.user.yml
__pycache__/
*.pyc
.env
.venv
.pytest_cache/
.DS_Store
.ipynb_checkpoints/
data/source/postings.csv
data/source/postings.csv
data/daily/
